



#page-wrapper {
  width: 100%;
  padding: 0px 15px;
}

body{
    background-color: #ecf0f1;

}


/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */



  #page-wrapper {
  padding-left:  255px;
  top: 0 !important;
  margin-top: -35px !important;
  }

  .pannel-group{
    padding-right: 15px;

  }

  .fb_like_below{
    display: none;
  }

  .fb_like_side{
    padding-top: 35px;
    padding-left: 5px;
  }




  /* Side Nav */

  .side-nav {

  width: 225px;
  position: fixed;
  top: 0;
  height: 100%;
  border-radius: 0;
  border: none;
  background-color: #2c3e50;
  overflow-y: auto;
  left: 0;
  }

  .side-nav-border{
    border-top: 1px dotted #7f8c8d;
  }

  .side-nav-border-last{
    border-bottom: 1px dotted #7f8c8d;
  }

  .sidebar_link {
  background-color: #2c3e50 !important;
  color: white !important;
  }


   .sidebar_link:hover {
   background-color: #34495e !important;
   color: white !important;
   }




  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

  .side-nav>li.dropdown>ul.dropdown-menu {
  position: relative;
  min-width: 225px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  }





  .side-nav>li>a {
  width: 225px;
  }







  .navbar-header{
    visibility: hidden;
  }

  .explore_embed{
    height: 400px;
    width: 100%;
    padding-right: 15px;
  }

  .wlogo{
    font-weight: lighter;
  }

  .sidebar_logo{
    color: white;
    font-size: 44px;

  }

  .sidebar_logo:hover{
    color: white;
    text-decoration: none;
  }

  .sidebar_logo_div{
    padding-top: 30px;
    padding-left: 70px;
    padding-bottom: 20px;
  }

  .fa{
    padding-right: 5px;
  }

  .btn-green{
    color: white !important;
    background-color: #00a651 !important;
    border-radius: 3px !important;
  }

  .mobile_bookmark{
    visibility: hidden;
  }

 




}

@media (max-width:450px) {
  .btn-green{
    width: 100% !important;
  }

}


@media (max-width:768px) {

  .vid-description {
    padding-left: 10px;
    padding-right: 10px;
  }

  .explore_embed{
    height: 300px;
    width: 100%;
  }

  .wlogo{
    font-weight: lighter;
  }

  .sidebar_logo{
    visibility: hidden;
  }

  .navbar-brand:hover{
    color: white;
    text-decoration: none;
  }

  .btn-green{
    color: white !important;
    background-color: #00a651 !important;
    border-radius: 3px !important;
  }

  .homescreen_title{
    font-size: 14px;
    text-align: left;
  }

  .homescreen_heading{
    background-color: #ecf0f1 !important;
    border: 0 !important;
  }

  .homescreen_panel{
    border: 0 !important;
  }

  .homescreen_text{
    color: #3498db;
    margin-left: -10px !important;
  }

  a:hover{
    text-decoration: none;
  }

  .homescreen_group{
    margin-top: 10px;
  }

  .homescreen_link{
    padding-left: 10px;
  }

  .navbar-header{
    background-color: #34495e !important;
  }

  .navbar-nav{
    background-color: #34495e !important;
    margin-top: -12px !important;
    margin-bottom: -0px !important;
  }

  .sidebar_link{
    color: white !important;
  }

  .sidebar_link:hover {
  background-color: #34495e !important;
  color: white !important;
  }

  .table_page_header{
    padding-left: 10px;
  }

  .fb_like_side{
    display: none;
  }

  .fb_like_bottom{
    display: block;
  }


}




.left-nav{
  left: 0 !important;
  height: 100% !important;
}



.navbar-header{
  background-color: black;
}

.icon-bar{
  background-color: white;
}

.navbar-brand{
  color: white;
  padding-left: 25px;
}

.navbar-brand :hover{
  color: white;
}

.panel-heading{
  background-color: #2c3e50;
}

.panel-title{
  color: white !important;
}

.panel-heading:hover{
  color: white !important;
  text-decoration: none;
}

.sub-sidebar{
  margin-left: 20px;
}

.sub-sidebar:hover{
  color: black !important;
}

.report-vid{
  font-size: 14px;
  color: red;
}



p, h3, h2, li, .btn, .sub-sidebar, a{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: lighter;
}

body{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: lighter;
}

 .homescreen_group{
    display: none;
  }


  @media only screen and (max-device-width: 480px) {
       .homescreen_group {display:block !important}
     }






