



#page-wrapper {
  width: 100%;
  padding: 0px 15px;
}


/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */



  #page-wrapper {
  padding-left:  255px;
  top: 0 !important;
  margin-top: -35px !important;
  }

  .pannel-group{
    padding-right: 15px;

  }




  /* Side Nav */

  .side-nav {

  width: 225px;
  position: fixed;
  top: 0;
  height: 100%;
  border-radius: 0;
  border: none;
  background-color: #222222;
  overflow-y: auto;
  left: 0;
  }

  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

  .side-nav>li.dropdown>ul.dropdown-menu {
  position: relative;
  min-width: 225px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  }





  .side-nav>li>a {
  width: 225px;
  }

 .sidebar_link {
 background-color: #222222 !important;
 color: white !important;
 }


  .sidebar_link:hover {
  background-color: gray !important;
  color: white !important;
  }






  .navbar-header{
    visibility: hidden;
  }

  .explore_embed{
    height: 400px;
    width: 100%;
    padding-right: 15px;
  }

  .wlogo{
    font-weight: lighter;
  }

  .sidebar_logo{
    color: white;
    font-size: 44px;

  }

  .sidebar_logo:hover{
    color: white;
    text-decoration: none;
  }

  .sidebar_logo_div{
    padding-top: 30px;
    padding-left: 70px;
  }

  .fa{
    padding-right: 5px;
  }

  .btn-green{
    color: white !important;
    background-color: #00a651 !important;
    border-radius: 3px !important;
  }




}

@media (max-width:450px) {
  .btn-green{
    width: 100% !important;
  }

}


@media (max-width:768px) {

  .vid-description {
    padding-left: 10px;
    padding-right: 10px;
  }

  .explore_embed{
    height: 300px;
    width: 100%;
  }

  .wlogo{
    font-weight: lighter;
  }

  .sidebar_logo{
    visibility: hidden;
  }

  .btn-green{
    color: white !important;
    background-color: #00a651 !important;
    border-radius: 3px !important;
  }


}

.left-nav{
  left: 0 !important;
  height: 100% !important;
}



.navbar-header{
  background-color: black;
}

.icon-bar{
  background-color: white;
}

.navbar-brand{
  color: white;
  padding-left: 25px;
}

.navbar-brand :hover{
  color: white;
}

.panel-heading{
  background-color: gray !important;
}

.panel-title{
  color: white !important;
}

.panel-heading:hover{
  color: white !important;
  text-decoration: none;
}

.sub-sidebar{
  margin-left: 20px;
}

.sub-sidebar:hover{
  color: black !important;
}

.report-vid{
  font-size: 14px;
}