<span class="nav"><%= button_to "I need more shit", post_path(@next_post), :method => :get %></nav>

<div class="video-container">
  <iframe width="640" height="360" src="//www.youtube.com/embed/<%=@video_id%>" frameborder="0" allowfullscreen></iframe>
</div>

<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>


<br/>