
      <!-- Sidebar -->
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="wlogo">W</span><b>5</b></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse left-nav">
          <ul class="nav navbar-nav side-nav">

            <div class="sidebar_logo_div"><%= link_to "<span class='wlogo'>W</span><b>5</b>".html_safe, all_path, class: "sidebar_logo" %></div>

            <form method="get" action="/posts">
              <input type="text" name="search" class="search-input" placeholder="Search something..."/>
            </form>

            <li class="side-nav-border"><%= link_to "<i class='fa fa-home'></i> Home".html_safe, all_path, class: "sidebar_link" %></li>
            <li class="dropdown side-nav-border side-nav-border-last">
              <a href="#" class="dropdown-toggle sidebar_link" data-toggle="dropdown"><i class="fa fa-clock-o"></i>  Browse Videos <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/latest" class="sidebar_link sub-sidebar" >Latest Videos</a></li>
                <li><a href="/popular" class="sidebar_link sub-sidebar">All-Time Favorites</a></li>
                <li><a href="/longest" class="sidebar_link sub-sidebar">Longest Videos</a></li>
                <li><a href="/random" class="sidebar_link sub-sidebar">Random Videos</a></li>
              </ul>
            </li>
            <li class="dropdown side-nav-border side-nav-border-last">
              <a href="#" class="dropdown-toggle sidebar_link" data-toggle="dropdown"><i class="fa fa-clock-o"></i>  Filter by Length <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/short" class="sidebar_link sub-sidebar" >Less than 5 Minutes</a></li>
                <li><a href="/medium" class="sidebar_link sub-sidebar">5-30 Minutes</a></li>
                <li><a href="/long" class="sidebar_link sub-sidebar">More than 30 Minutes</a></li>
              </ul>
            </li>
            <li class="dropdown side-nav-border side-nav-border-last">
              <a href="#" class="dropdown-toggle sidebar_link" data-toggle="dropdown"><i class="fa fa-folder"></i>  Filter by Category <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/african_american" class="sidebar_link sub-sidebar" >African American</a></li>
                <li><a href="/asian" class="sidebar_link sub-sidebar">Asian</a></li>
                <li><a href="/white" class="sidebar_link sub-sidebar">Caucasian</a></li>
                <li><a href="/latino" class="sidebar_link sub-sidebar">Latino</a></li>
                <li><a href="/mei" class="sidebar_link sub-sidebar">Middle Eastern / Indian</a></li>
              </ul>
            </li>
            <li class="side-nav-border"><a href="/comedians" class="sidebar_link"><i class="fa fa-users"></i>  Comedians</a></li>
            <li class="side-nav-border"><a href="mailto:waste5tips@gmail.com?subject=Feedback%20%2F%20Suggested%20Video%20for%20Waste5&body=Submit%20your%20feedback%20or%20a%20link%20to%20a%20video%20you%20would%20like%20us%20to%20add%20here.%20" class="sidebar_link"><i class="fa fa-envelope"></i> Feedback</a></li>

            <li class="side-nav-border mobile_bookmark"><%= link_to "<i class='fa fa-phone'></i> Add to Homescreen".html_safe, homescreen_path, class: "sidebar_link" %></li>

            <div class="sidebar_ad">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- Sidebar New -->
              <ins class="adsbygoogle"
                   style="display:inline-block;width:160px;height:600px"
                   data-ad-client="ca-pub-2042522334246049"
                   data-ad-slot="3605173928"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>

         

          </ul>




        </div><!-- /.navbar-collapse -->




