<!DOCTYPE html>
<html>
<head>
  <title>Waste5</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>


  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>



  <!-- jQuery -->
  <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>

  <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />




  <%= csrf_meta_tags %>
</head>
<body class="page-body">

<%= yield %>

</body>
</html>
